.item {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.caixa {
  width: 669px;
  height: 50vh;
  margin: 40px auto;
  border: 3px solid gray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.caixa div {
  padding: 20px;
  background-color: orangered;
  margin: 10px;
  width: 100px;
}

.item1 {
  flex-grow: 3;
  /* align-self: flex-start; */
}

.item2 {
  flex-grow: 3;
  /* order: 1; */
  align-self: stretch;
}

.item3 {
  flex-grow: 3;
}
