body {
  font-family: 'Arial';
}

/* pseudo-seletores */

/* input {
  border-color: blue;
}

input:hover {
  border-color: orangered;
}

input:focus {
  width: 400px;
}

p:hover {
  color: orangered;
} */

/* p:nth-child(even) {
  background-color: gray;
} */

/* divs.html */

div {
  border: 3px solid gray;
  padding: 30px;
  margin: 10px;
}

header {
  border: 3px solid gray;
  padding: 30px;
  margin: 10px;
}

main {
  border: 3px solid gray;
  padding: 30px;
  margin: 10px;
}

footer {
  border: 3px solid gray;
  padding: 30px;
  margin: 10px;
}

section {
  border-top: 2px dotted gray;
  border-bottom: 2px dotted gray;
}

section.noticias {
  overflow: hidden;
}

article {
  padding: 20px;
  margin: 20px 0;
  background-color: #ffa600ad;
  float: left;
  width: 30%;
}

span {
  background-color: purple;
}

/* display.html */

/* div.caixa1 {
  background-color: orange;
  border: 5px solid black;
  margin-bottom: 25px;
}

div.caixa2 {
  background-color: blueviolet;
  border: 5px dotted black;
}

div.caixa3 {
  background-color: crimson;
}

div {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 30px;
  padding: 40px;
} */
