<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <title>Alunos</title>
  </head>
  <body>
    <form action="/dadosalunos" method="GET">
      <input type="text" name="nome" id="1" />
      <input type="text" name="curso" id="2" />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
