article {
  background-color: #ccc;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 20px 0;
}

h1 {
  color: orangered;
}

button.btn.btn-primary {
  background-color: orangered;
  border-color: orangered;
  margin: 40px 0;
}
